@import 'main';


// text in 'em'        ------ testing!!

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}


// standard border radius mixin   ----   @include curved;
@mixin curved {
border-radius: 0.5em;
}

@mixin mar-side($mar-side-amount) {
  margin-left: ($mar-side-amount);
  margin-right: ($mar-side-amount);
}



.container-parent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

// team photo ----box over img removed :( ---try nesting!

.container {
  position: relative;
  align-items: center;
  margin: auto;
  padding: 1em;
  @include curved;
  box-shadow: 0 0 1em $d-green;
}

.team-cont {
  img {
    display: block;
    margin: auto;
    max-width: 86%;
    @include curved;  
    background-color: $dif-green;
  }
  
  img:first-child {
    padding: 2%;
    margin-bottom: 2%;
  }

  img:hover {
    filter: contrast(50%);
  }
}


.team-text {
  display: block;
  padding: 1% 4%;
  @include mar-side(7%);
}

.team-text-a {
  text-align: right;
  color: $md-green;
}

.team-text-b {
  color: $d-green;
  background-color: $dif-green;
  @include curved;
}



// map          ------ iframe problem for padding??
.map {
  margin: auto;
  pad: 2em;
}






// office photos crossfade
.photo-office {
  display: block;
  margin: auto;
  max-width: 86%;
  @include curved;  
  background-color: $dif-green;
    
    img {
      // position: absolute;
      
      animation-name: multiple-image-crossfade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 9s;
      &:nth-of-type(1) {
        animation-delay: 6s;
      }
      &:nth-of-type(2) {
        animation-delay: 3s;
      }
      &:nth-of-type(3) {
        animation-delay: 0s;
      }
      

    }
  }
  

  // WORKING!!! wrong position tho :)
  @keyframes multiple-image-crossfade {
 
    0% {
      opacity:1;
    }
    33% {
      opacity:0;
    }
    66% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }






  //mail-form

  // .mail-form {
    
  // }


  //footer

  footer {


    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
  }


  .ft-left {
    float: left;
  }
  .ft-right {
    float: right;
  }
