@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}
@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background: #3f5543;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}
@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background: #3f5543;
}

.parallax {
  background-image: url("../../assets/img/parallax.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  font-size: 70px;
}

.parallax p {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

h3 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.btn {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.container {
  background-color: #6B8F71;
  gap: 20px;
}

.design {
  background-color: #6B8F71;
  color: #fff;
  height: 433.8px;
  width: 478px;
}

.development {
  background-color: #6B8F71;
  color: #fff;
  height: 433.8px;
  width: 478px;
}

.marketing {
  background-color: #6B8F71;
  color: #fff;
  height: 433.8px;
  width: 478px;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.container {
  padding: 20px;
}

.card {
  padding: 30px;
}

.card img {
  margin-bottom: 25px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(0deg, 45%, 44%);
}

@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    max-width: 900px;
    margin: auto;
  }

  .card {
    padding: 45px;
  }
}
h2 {
  padding-top: 80px;
  font-size: 45px;
}

.twitterfeed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  background-color: transparent !important;
}

@media (max-width: 800px) {
  .twitterfeed {
    flex-direction: column;
  }
}
.card1 {
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
}

.card1 img {
  border-radius: 50%;
}

.card1 p {
  margin-top: 10px;
}

.card2 {
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
}

.card2 img {
  border-radius: 50%;
}

.card2 p {
  margin-top: 10px;
}

.card3 {
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
}

.card3 img {
  border-radius: 50%;
}

.card3 p {
  margin-top: 10px;
}

.twitter {
  margin-left: 60px;
}

h2 {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

small {
  color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}
@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background: #3f5543;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

.container-parent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.container {
  position: relative;
  align-items: center;
  margin: 12px;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #1d1e18;
}

.team-cont img {
  display: block;
  margin: auto;
  max-width: 86%;
  background-color: #AAD2BA;
}
.team-cont img:first-child {
  position: relative;
  padding: 2%;
  margin-bottom: 2%;
}
.team-cont img:hover {
  filter: saturate(0%);
}
.team-cont svg {
  position: absolute;
  align-self: center;
}

.team-text {
  display: block;
  padding: 1% 4%;
  margin-left: 7%;
  margin-right: 7%;
}

.team-text-a {
  text-align: right;
  color: #6B8F71;
}

.team-text-b {
  color: #1d1e18;
  background-color: #AAD2BA;
  border-radius: 0.5em;
}

.deetz {
  margin-left: 7%;
  margin-right: 7%;
  padding: 1% 4%;
  color: #1d1e18;
  background-color: #AAD2BA;
  border-radius: 0.5em;
}

.map {
  margin: auto;
  position: relative;
  overflow: hidden;
}

iframe {
  min-width: 86vw;
  min-height: 55vh;
}

.photo-office {
  position: relative;
  border-radius: 0.5em;
  background-color: #AAD2BA;
}
.photo-office img {
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 0.5em;
  background-color: #AAD2BA;
  -webkit-animation-name: multiple-image-crossfade;
          animation-name: multiple-image-crossfade;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.photo-office img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.photo-office img:nth-of-type(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.photo-office img:nth-of-type(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mail-form {
  margin-left: 7%;
  margin-right: 7%;
  background-color: #AAD2BA;
  padding: 2em;
  border-radius: 0.5em;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: #1d1e18;
  padding: 2em;
  bottom: 0;
  width: 100%;
  height: 25%;
  text-decoration: none;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #1d1e18;
}
footer .ft-left,
footer .ft-mid,
footer .ft-right {
  padding: 0.8em;
  align-items: center;
  background-color: #D9FFF5;
  border-radius: 0.5em;
  width: 30vw;
}

.testimonials__item {
  display: flex;
}
.testimonials__item .container {
  background-color: transparent;
}
.testimonials__item:nth-child(odd) {
  background-color: #AAD2BA;
}
.testimonials__item-wrapper {
  display: flex;
  padding: 3.5rem 0;
}
.testimonials__item .testimonials__item-wrapper {
  flex-direction: column;
}
.testimonials__item .testimonials__item-wrapper img {
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
}
@media (max-width: 576px) {
  .testimonials__item .testimonials__item-wrapper {
    text-align: center;
  }
  .testimonials__item .testimonials__item-wrapper img {
    margin-bottom: 2.5rem;
  }
}
.testimonials__item-text {
  display: flex;
  flex-direction: column;
}
.testimonials__item-text h3 {
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.testimonials__item-text q {
  font-size: 1.2rem;
  margin-bottom: auto;
}
@media (min-width: 576px) {
  .testimonials__item:nth-child(even) .testimonials__item-wrapper {
    flex-direction: row-reverse;
  }
  .testimonials__item:nth-child(even) .testimonials__item-wrapper q {
    color: #2b2c23;
  }
  .testimonials__item:nth-child(even) .testimonials__item-wrapper img {
    margin-left: 2.5rem;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper {
    flex-direction: row;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper q {
    color: #46493a;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper img {
    margin-right: 2.5rem;
  }
}

.logoo {
  width: 250px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #AAD2BA;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
a:hover {
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */