@import 'main';



// office photos crossfade
.photo-office {
    position: relative;
    
    img {
      position: absolute;
      animation-name: multiple-image-crossfade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 8s;
      &:nth-of-type(1) {
        animation-delay: 6s;
      }
      &:nth-of-type(2) {
        animation-delay: 4s;
      }
      &:nth-of-type(3) {
        animation-delay: 2s;
      }
      &:nth-of-type(4) {
        animation-delay: 0;
      }
    }
  }
  
  @keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }