@import 'main';



// parallax code 

.parallax {
  background-image: url("assets/img/parallax.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
color: white;
text-align: center;
padding-top: 80px;
font-size: 70px;
}

.parallax p {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  }



// Services



h3 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.btn {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.container {
  background-color: $md-green;
  gap: 20px;
 
}

.design {
  background-color: $md-green;
  color: #fff;
  
  height: 433.8px;
  width: 478px;
}



.development {
  background-color: $md-green;
  color: #fff;
  height: 433.8px;
  width: 478px;
;
}



.marketing {
  background-color: $md-green;
  color: #fff;
 
  height: 433.8px;
  width: 478px;
}


.btn:hover {
  background-color: transparent;
  color: #fff;
}

.container {
  padding: 20px;
}

.card {
  padding: 30px;
}

.card img {
  margin-bottom: 25px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(0, 45%, 44%);
}

@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    max-width: 900px;
    margin: auto;
  }


  .card {
    padding: 45px;
  }

 
}


h2 {
  padding-top: 80px;
  font-size: 45px;
}



// twitter feed section


.twitterfeed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  background-color: transparent !important;
}

@media (max-width: 800px) {
  .twitterfeed {
    flex-direction: column;
  }
 
}



.card1 {
 
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
 
}


.card1 img {
  border-radius: 50%;

}

.card1 p {
  margin-top: 10px;
}


.card2 {
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
  
}

.card2 img {
  border-radius: 50%;
}


.card2 p {
  margin-top: 10px;
}


.card3 {
  background-color: white;
  padding: 15px;
  width: 250px;
  height: 400px;
  margin: auto;
 
}

.card3 img {
  border-radius: 50%;
}

.card3 p {
  margin-top: 10px;
}


.twitter {
 margin-left: 60px;
 
}

h2 {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

small {
  color: grey
}