@import 'main';

.testimonials__item {
    display:flex;

    .container {
        background-color: transparent;
    }

    &:nth-child(odd){
        background-color: $dif-green;
    }

    &-wrapper {
        display:flex;
        padding:1.5rem 0;
    }

    @media (min-width:576px){

        &:nth-child(even) .testimonials__item-wrapper {
            flex-direction: row-reverse;

            q {
                color:lighten($d-green, 5%);
            }

            img {
                margin-left:1rem;
            }
        }

        &:nth-child(odd) .testimonials__item-wrapper {
            flex-direction: row;

            q {
                color:lighten($d-green, 15%);
            }
            
            img {
                margin-right:1rem;
            }
        }   
        
        &-text {
    
            display:flex;
            flex-direction: column;

            h3 {
                font-size:2rem;
                margin-top:auto;
            }

            q {
                font-size:1.2rem;
                margin-bottom:auto;
            }
        }
    }
}