@import 'main';

.headings {
    background-color: transparent;
    padding: 3rem 0;
    
    h1 {
        display: inline-block;
        font-size:3rem;
        color: $l-green;
        margin-bottom:0.7rem;
    }

    h2 {
        color: $d-green;
        position: relative;
        padding-left:50px;

        &::before {
            content:'';
            position: absolute;
            left: -5px;
            width: 45px;
            height:5px;
            top:50%;
            transform: translateY(-50%);
            background-color: $d-green;
        }
    }

}

.glide {
    background-color: $dif-green;

    .glide__slide {
        position:relative;

        img {
            width:100%;
        }

        figcaption {
            position: absolute;
            bottom:20px;
            left:50%;
            transform:translateX(-50%);
            background: rgba(107, 143, 113, 0.8);
            padding:1rem 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media (min-width:576px){
                h3 {
                    margin-bottom:0.5rem;
                }
            }

            .btn {
                background-color: $d-green;
                margin: 0 auto;

                @media (max-width:576px){
                    display:none;
                }

                &:hover {
                    background-color: lighten($d-green, 15%);
                }
            }
        }
    }
    .glide__arrow {
        background-color: $md-green;

        @media (max-width:576px){
            display:none;
        }
        
    }
}

.testimonials__item {
    display:flex;

    .container {
        background-color: transparent;
    }

    &:nth-child(odd){
        background-color: $dif-green;
    }

    &-wrapper {
        display:flex;
        padding:3.5rem 0;
    }

    .testimonials__item-wrapper {
        flex-direction: column;
        
        img {
            align-self: center;
        }
        
        @media (max-width:576px){

            text-align:center;

                img {
                    margin-bottom: 1rem;
                }
        }
    }

    &-text {
    
        display:flex;
        flex-direction: column;

        h3 {
            font-size:2rem;
            margin-top:auto;
            margin-bottom:0.5rem;
        }

        q {
            font-size:1.2rem;
            margin-bottom:auto;
        }
    }

    

    @media (min-width:576px){

        &:nth-child(even) .testimonials__item-wrapper {
            flex-direction: row-reverse;

            q {
                color:lighten($d-green, 5%);
            }

            img {
                margin-left:1rem;
            }
        }

        &:nth-child(odd) .testimonials__item-wrapper {
            flex-direction: row;

            q {
                color:lighten($d-green, 15%);
            }
            
            img {
                margin-right:1rem;
            }
        }   
        
        
    }
}