@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6B8F71;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}

@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #3f5543;
}

/* Main CSS */
html {
  padding: 15px;
}

body {
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.ourwork-page .grid-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.ourwork-page .grid-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.ourwork-page .grid-wrapper .project-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourwork-page .grid-wrapper .wide {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourwork-page .grid-wrapper .wide:hover img {
  opacity: 0.3;
}

.ourwork-page .grid-wrapper .wide:hover .grid-link__content {
  opacity: 1;
}

.ourwork-page .grid-wrapper .tall {
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourwork-page .grid-wrapper .tall:hover img {
  opacity: 0.3;
}

.ourwork-page .grid-wrapper .tall:hover .grid-link__content {
  opacity: 1;
}

.ourwork-page .grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourwork-page .grid-wrapper .big:hover img {
  opacity: 0.3;
}

.ourwork-page .grid-wrapper .big:hover .grid-link__content {
  opacity: 1;
}

.ourwork-page .grid-wrapper .grid-link__content {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ourwork-page .grid-wrapper .project-image:hover img {
  opacity: 0.3;
}

.ourwork-page .grid-wrapper .project-image:hover .grid-link__content {
  opacity: 1;
}

.ourwork-page .grid-wrapper .wide:hover img {
  opacity: 0.3;
}

.ourwork-page .grid-wrapper .wide:hover .grid-link__content {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6B8F71;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}

@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #3f5543;
}

q {
  color: #1d1e18 !important;
}
/*# sourceMappingURL=style.css.map */