@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 0.9;
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e8f5e9;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #e8f5e9;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #3f5543;
}

.headings {
  background-color: transparent;
  padding: 3rem 0;
}

.headings h1 {
  display: inline-block;
  font-size: 3rem;
  color: #e8f5e9;
  margin-bottom: 0.7rem;
}

.headings h2 {
  color: #1d1e18;
  position: relative;
  padding-left: 50px;
}

.headings h2::before {
  content: '';
  position: absolute;
  left: -5px;
  width: 45px;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1d1e18;
}

.glide {
  background-color: #AAD2BA;
}

.glide .glide__slide {
  position: relative;
}

.glide .glide__slide img {
  width: 100%;
}

.glide .glide__slide figcaption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(107, 143, 113, 0.8);
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
}

@media (min-width: 576px) {
  .glide .glide__slide figcaption {
    padding: 1rem 1.5rem;
  }
  .glide .glide__slide figcaption h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

.glide .glide__slide figcaption h3 {
  font-size: 1rem;
}

.glide .glide__slide figcaption .btn {
  background-color: #1d1e18;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .glide .glide__slide figcaption .btn {
    display: none;
  }
}

.glide .glide__slide figcaption .btn:hover {
  background-color: #46493a;
}

.glide .glide__arrow {
  background-color: #6B8F71;
}

@media (max-width: 576px) {
  .glide .glide__arrow {
    display: none;
  }
}

.testimonials__item {
  display: flex;
}

.testimonials__item .container {
  background-color: transparent;
}

.testimonials__item:nth-child(odd) {
  background-color: #AAD2BA;
}

.testimonials__item-wrapper {
  display: flex;
  padding: 3.5rem 0;
}

.testimonials__item .testimonials__item-wrapper {
  flex-direction: column;
}

.testimonials__item .testimonials__item-wrapper img {
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .testimonials__item .testimonials__item-wrapper {
    text-align: center;
  }
  .testimonials__item .testimonials__item-wrapper img {
    margin-bottom: 2.5rem;
  }
}

.testimonials__item-text {
  display: flex;
  flex-direction: column;
}

.testimonials__item-text h3 {
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.testimonials__item-text q {
  font-size: 1.2rem;
  margin-bottom: auto;
}

@media (min-width: 576px) {
  .testimonials__item:nth-child(even) .testimonials__item-wrapper {
    flex-direction: row-reverse;
  }
  .testimonials__item:nth-child(even) .testimonials__item-wrapper q {
    color: #2b2c23;
  }
  .testimonials__item:nth-child(even) .testimonials__item-wrapper img {
    margin-left: 2.5rem;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper {
    flex-direction: row;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper q {
    color: #46493a;
  }
  .testimonials__item:nth-child(odd) .testimonials__item-wrapper img {
    margin-right: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */