@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}
@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background: #3f5543;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

.container-parent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.container {
  position: relative;
  align-items: center;
  margin: 12px;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #1d1e18;
}

.team-cont img {
  display: block;
  margin: auto;
  max-width: 86%;
  border-radius: 0.5em;
  background-color: #AAD2BA;
}
.team-cont img:first-child {
  position: relative;
  padding: 2%;
  margin-bottom: 2%;
}
.team-cont img:hover {
  filter: saturate(0%);
}
.team-cont svg {
  position: absolute;
  align-self: center;
}

.team-text {
  display: block;
  padding: 1% 4%;
  margin-left: 7%;
  margin-right: 7%;
}

.team-text-a {
  text-align: right;
  color: #6B8F71;
}

.team-text-b {
  color: #1d1e18;
  background-color: #AAD2BA;
  border-radius: 0.5em;
}

.deetz {
  margin-left: 7%;
  margin-right: 7%;
  padding: 1% 4%;
  color: #1d1e18;
  background-color: #AAD2BA;
  border-radius: 0.5em;
}

.map {
  margin: auto;
  position: relative;
  overflow: hidden;
}

iframe {
  min-width: 86vw;
  min-height: 55vh;
}

.photo-office {
  position: relative;
  border-radius: 0.5em;
  background-color: #AAD2BA;
}
.photo-office img {
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 0.5em;
  background-color: #AAD2BA;
  animation-name: multiple-image-crossfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.photo-office img:nth-of-type(1) {
  animation-delay: 6s;
}
.photo-office img:nth-of-type(2) {
  animation-delay: 3s;
}
.photo-office img:nth-of-type(3) {
  animation-delay: 0s;
}

@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mail-form {
  margin-left: 7%;
  margin-right: 7%;
  background-color: #AAD2BA;
  padding: 2em;
  border-radius: 0.5em;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: #1d1e18;
  padding: 2em;
  bottom: 0;
  width: 100%;
  height: 25%;
  text-decoration: none;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #1d1e18;
}
footer .ft-left,
footer .ft-mid,
footer .ft-right {
  padding: 0.8em;
  align-items: center;
  background-color: #D9FFF5;
  border-radius: 0.5em;
  width: 30vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #6B8F71;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

body > .container, main > .container {
  width: calc(100vw - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D9FFF5;
}
@media (min-width: 576px) {
  body > .container, main > .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  body > .container, main > .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body > .container, main > .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body > .container, main > .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body > .container, main > .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #6B8F71;
  color: #D9FFF5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background: #3f5543;
}

q {
  color: #1d1e18 !important;
}

/*# sourceMappingURL=style.css.map */
